

.open-sans-normal > {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
/*nave ber*/
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 200 px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18PX 35PX;
    border-radius: 5px;
    font-size: 20PX;

}
nav ul li{
    list-style: none;
    margin-right:50px ;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark2{
    color: #474747;
}
.bannner-wellcome{
    font-size: 45px;
    font-weight: 600px;

}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profiled{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 3px 0 230px;
}
.secondary-background{
    background-color: #a03636&F3
    ;
}
.banner-conten{
    max-width: 580px;
}
.header{
 
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #474747;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about {
border-radius: 10px;
padding:130px,150px ;
text-align: center;
margin-top: 130px;

}
.item-descrption{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.skill-conainer{
    display: flex;
    gap: 14px;

}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px;
    color: #000000;
    border-radius: 5px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;

}
.resume-container{
    display: flex;
    gap: 24px;

}
.exprience-discription{
    font-size: 20px;
    font-weight: 600px;
}
.text-center{
    margin-top: 50px;
    text-align: center;
}